# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Introduce common data science libraries
* Introduce common data science programming languages
* Introduce basic arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sklearn
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook    |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(hours)

3.3333333333333335

## Author
Vaibhav Kumar